body {

    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f4f7f6;
    margin: 0px;
}

.post {
    margin-top: 50px;
}

.navbar {
    list-style: none;
    overflow: hidden;
    display: flex;
    background-color: rgba(255, 255, 255, 0.39);
    width: 100%;
    height: 8%;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    color: #ffffff;
    position: relative;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navbar li {
    padding: 0px 15px;
}

.navbar a {
    display: block;
    color: #ffffff;
    /* color: rgba(255, 255, 255, 0.77); */
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    height: 98%;
    width: 60px;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    /* font-family: "Segoe UI", system-ui, sans-serif; */
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.user-avatar {
    height: 30px; /* 或其他需要的尺寸 */
    width: 30px; /* 保持头像是圆形的 */
    border-radius: 50%; /* 使头像呈现圆形 */
}

#b {
    float: right;
}

.post {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-content {
    text-align: left;
    font-size: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

