body {
    background-image: url("../images/index-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.post {
    margin-top: 50px;
}

.navbar {
    list-style: none;
    overflow: hidden;
    display: flex;
    background-color: rgba(255, 255, 255, 0.39);
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    color: #ffffff;
    position: relative;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.navbar li {
    padding: 0px 15px;
}

.navbar a {
    display: block;
    color: #ffffff;
    /* color: rgba(255, 255, 255, 0.77); */
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    height: 98%;
    width: 60px;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    /* font-family: "Segoe UI", system-ui, sans-serif; */
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}

.user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.post {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-content {
    text-align: left;
    font-size: 16px;
}

.circle-button {
    position: fixed;   /* Fixed position */
    bottom: 20px;     /* 20px from the bottom */
    right: 20px;      /* 20px from the right */
    background-color: #007bff; /* Blue background color */
    color: #e00808;     /* White text color */
    border: none;     /* No border */
    border-radius: 50%; /* Rounded borders to make it a circle */
    width: 50px;      /* Width of the button */
    height: 50px;     /* Height of the button */
    text-align: center; /* Center the text horizontally */
    line-height: 50px; /* Center the text vertically */
    font-size: 24px;   /* Size of the "+" */
    text-decoration: none; /* No underline on the "+" */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* Optional: Shadow for better visibility */
    z-index: 1000;    /* Make sure it's on top of other elements */
    cursor: pointer;  /* Change cursor to pointer when hovering over the button */
}

.circle-button:hover {
    background-color: #0056b3; /* Darker blue on hover for visual feedback */
}


