html, body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
  }

.navbar {
    list-style: none;
    overflow: hidden;
    display: flex;
    background-color: rgba(255, 255, 255, 0.39);
    width: 100%;
    height: 8%;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    color: #ffffff;
    position: relative;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar li {
    padding: 0px 15px;
}
.navbar a {
    display: block;
    color: #ffffff;
    /* color: rgba(255, 255, 255, 0.77); */
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    height: 98%;
    width: 60px;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    /* font-family: "Segoe UI", system-ui, sans-serif; */
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
}
.user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}