<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/"><ion-icon name="home" size="large"></ion-icon></a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'inbox' username=user.username %}"><ion-icon name="mail" size="large" target="_blank"></ion-icon></a></li>
                <li><a href="{% url 'friendPosts' username=user.username %}"><ion-icon name="people" size="large"></ion-icon></a></li>
                {% if user.avatar %}
                    <li><a href="{% url 'profile' username=user.username %}"><img class="user-avatar" src="{{ user.avatar.url }}" alt="User avatar"></a></li>
                {% else %}
                    <li><a href="{% url 'profile' username=user.username %}"><ion-icon name="person-circle" size="large"></ion-icon></a></li>
                {% endif %}
            {% else %}
                <li><a href="login/"><ion-icon name="mail" size="large"></ion-icon></a></li>
                <li><a href="login/"><ion-icon name="people" size="large"></ion-icon></a></li>
                <li><a href="login/"><ion-icon name="person" size="large"></ion-icon></a></li>
            {% endif %}
        </ul>
    </nav>


    <div class="post">
        <div class="user-info">
            <img src="" alt="profile picture" class="profile-pic">
            <div class="username">Username</div>
        </div>
        <div class="post-content">
            <p>This is the content of the user's post. Here you will find what they have shared with the community.</p>
        </div>
    </div>

    <div class="post">
        <div class="user-info">
            <img src="" alt="profile picture" class="profile-pic">
            <div class="username">Username</div>
        </div>
        <div class="post-content">
            <p>This is the content of the user's post. Here you will find what they have shared with the community.</p>
        </div>
    </div>

    <div><a href="/" class="circle-button" target="_blank">+</a></div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>