{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/postListContent.css' %}">

</head>

<body>
    {% include 'navbar.html' %}
    
    
    
    {% include 'postListContent.html' %}
        <!-- <div class="post-container" id ="post-container">
            <div class="search-bar">
                <ion-icon name="search-outline" style="font-size: 26px; margin: 5px; color: rgb(97, 97, 97);"></ion-icon>
                <form id="search-form" action="/search" method="get">
                    <input type="hidden" name="user1_id" value="{{ request.user.username }}">
                    <input type="text" name="user2_id" placeholder="Search by username">
                    <button type="submit">ugly Search button</button>    
                </form>
            </div>
            
        </div> -->

    {% if user.is_authenticated %}
        <button id="floating-button">+</button>
    {% endif %}
    
    
    <div id="newPostModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="newPostForm">
                <input id="titleInput" type="text" name="title" placeholder="Title">
                <textarea id="contentInput" name="content" placeholder="Tell Something New..."></textarea>
                
                <div class="submit-container">
                    <div class="left">
                        <label for="imageUpload" class="upload-icon">
                            <ion-icon name="image"></ion-icon>
                        </label>
                        <input type="file" id="imageUpload" name="image" style="display: none;">
                    </div>
                    <div class="right">
                        <label for="visibility"></label>
                        
                        <select name="visibility" id="visibility">
                            <option value="PUBLIC" selected>Public</option>
                            <option value="FRIENDS">Friends-Only</option>
                        </select>
                        
                        <button class="post-button" type="submit">Save Draft</button>
                        <button class="post-button" type="submit">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/posting.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
</body>

</html>