{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Post Page</title>
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
</head>
<body>
    <div class="post-container" data-post-id="{{ post.id }}">
        <div class="back-button-container">
            <button onclick="history.back()" class="back-button">
                <ion-icon size="small" name="chevron-back-outline" style="margin-right: 8px;"></ion-icon>
                Back</button>
            <button id="more-options-button" class="more-options-button">
                <ion-icon size="large" name="ellipsis-horizontal"></ion-icon>
                </button>
        </div>
        <div id="options-container" class="options-container" style="display: none;">
            <button class="option-button">
                <ion-icon size="small" name="create-outline" style="margin-right: 8px;"></ion-icon>
                Edit</button>
            <button class="option-button">
                <ion-icon size="small" name="trash-outline" style="margin-right: 8px;"></ion-icon>
                Delete</button>
            <!-- Add more buttons as needed -->
        </div>
        <div class="user-info">
            <img src="{{ post.author.avatar}}" alt="User Avatar" class="user-avatar">
            <span class="user-name">{{ post.author.username }}</span>
        </div>
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="scrollable-content">
            <p class="post-content">{{ post.content }}</p> 
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image" class="post-image">
            {% endif %}
            <div class="comments-section">
                <h2>Comments:</h2>
                
                <div id="comments-container"></div>

            </div>
        </div>
        <div class="post-actions">
            <button id="share-button" class="action">
                <ion-icon size="small" name="share-outline" style="margin-right: 8px;"></ion-icon>
                Share
            </button>
            <button id="comment-button" class="action">
                <ion-icon size="small" name="chatbox-ellipses-outline" style="margin-right: 8px;"></ion-icon>
                Comment
            </button>
            <div id="comment-form" class="comment-form" style="display: none;">
                <textarea id="comment-input" placeholder="Add a comment..."></textarea>
                <button id="submit-comment" class="action">Post Comment</button>
            </div>
            <button id="like-button" class="action"> 
                <ion-icon size="small" name="heart-outline" style="margin-right: 8px;"></ion-icon>
                Like
                <span id="like-count">{{ likes_count }}</span>
            </button>
        </div>   
    </div>

    <script src="{% static 'js/post_detail.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
