<!DOCTYPE html>
<html>
<!-- this html is not used -->
<head>
    <title>singlePost</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/post.css">
</head>

<body>
<div id="popup" class="popup">
    <input type="text" id="subject" placeholder="Subject">
    <br>
    <textarea id="content" placeholder="What's your content?"></textarea>
    <br>
    <button class="button" onclick="addImage()">Add Image</button>
    <button class="button" onclick="tagFriends()">@</button>
    <button class="button" onclick="submitPost()">Post</button>
</div>

<script>
    function showPopup() {
        let popup = document.getElementById("popup");
        popup.style.display = "block";
    }
    function submitPost() {
        alert("Post submitted successfully, please refresh to see your post.");
    }
    function addImage() {
        alert("The 'Add Image' feature is not implemented in this demo.");
    }
    function tagFriends() {
        alert("The '@ Tag Friends' feature is not implemented in this demo.");
    }
</script>
</body>
</html>