<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile Page</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/profile.css">
</head>

<body>
    <button class="top-button back-button" onclick="history.back()">Back</button>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="top-button logout-button">Log Out</button>
    </form>

<div class="profile-container">
    <div class="profile-header">
        <img class="profile-photo" src="profile-picture-url.jpg" alt="Profile Picture">
        <div class="profile-info">
            <h2>Username</h2>
            <p>Email: user@example.com</p>
            <p>Recent Posts</p>
        </div>
        <button class="top-button followers-button" onclick="location.href = 'followers'">Followers<br>0</button>
        <button class="top-button following-button" onclick="location.href = 'following'">Following<br>0</button>
    </div>
    <div class="recent-posts">
        <!-- This section should be populated with actual post data -->
        <div class="post">
            <img class="post-photo" src="post1.jpg" alt="Post Picture">
            <div class="post-info">
            	<h3 class="post-title">Template 1</h3>
                <p>Post excerpt or summary...</p>
                <div class="interactions">
                    <button class="top-button interaction-button">Like</button>
                    <button class="top-button interaction-button">Comment</button>
                    <button class="top-button interaction-button">Share</button>
                </div>
        	</div>
        </div>
        <div class="post">
        	<div class="post-info">
            	<h3 class="post-title">Template 2</h3>
            	<p>Post excerpt or summary...</p>
                <div class="interactions">
                    <button class="top-button interaction-button">Like</button>
                    <button class="top-button interaction-button">Comments</button>
                    <button class="top-button interaction-button">Share</button>
                </div>
        	</div>
        </div>
</body>
</html>