{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Profile Page</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="../../static/css/profile.css"
    />
    <link rel="stylesheet" type="text/css" href="../../static/css/navbar.css">

</head>

<style>
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: inherit;

    }

    .profile-photo {
        width: 80px;
        height: 80px;
    }

    .post-info {
        margin-left: 10px;
    }
</style>

<body>


{% include 'navbar.html' %}

<div class="button-container">
    <!-- <button class="back-button" onclick="history.back()">Back</button> -->
    <form action="{% url 'PAGE_Logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="logout-button">Log Out</button>
    </form>
</div>
<div class="profile-container">
    <div class="profile-header">
        {% if user.avatar %}
            <img
                    class="profile-photo"
                    src="{{ user.avatar.url }}"
                    onclick="document.getElementById('avatarInput').click()"
                    alt="Profile Picture"
            />
        {% else %}
            <img
                    class="profile-photo"
                    src="../../static/images/default_avatar.png"
                    onclick="document.getElementById('avatarInput').click()"
                    alt="Profile Picture"
            />
        {% endif %}
        <form
                method="post"
                enctype="multipart/form-data"
                style="display: none"
                action="upload-avatar/"
        >
            {% csrf_token %}
            <input
                    type="file"
                    name="avatar"
                    id="avatarInput"
                    accept="image/*"
                    onchange="this.form.submit()"
            />
        </form>
        <div id="profile-info" class="profile-info" style="text-align: center">
            <div class="username" id="username" onclick="editUserName()">{{ user.username }}</div>
            <input type="text" id="edit-username" onblur="handleUserNameBlur()" style="display: none">
            <div class="email" id="email">Email: {{ user.email }}</div>
            {% if request.user == user %}
                <form action="update-bio/" method="post">
                    {% csrf_token %}
                    <textarea
                            class="bio-container"
                            name="bio"
                            type="text"
                            rows="4"
                            cols="50"
                    >{{ user.bio }}</textarea>
                    <button type="submit">Save</button>
                </form>
            {% else %}
                <textarea readonly>{{ user.bio }}</textarea>
            {% endif %}
        </div>
        <div class="follow-container">
            <a href="{% url 'PAGE_FollowersList' username=user.username %}">
                <button id="follower-btn" class="top-button followers-button">Followers</button>
            </a>
            <a href="{% url 'PAGE_FollowingList' username=user.username %}">
                <button id="following-btn" class="top-button following-button">Following</button>
            </a>
        </div>
        {% if not user.username == request.user.username and not user.username in following_usernames %}
            <button id="follow-btn" data-username="{{ user.username }}">follow</button>
        {% endif %}
    </div>

    <div class="post-container">
        {% if request.user == user %}
            <div>
                <button><a href="{% url 'API_AuthorDraft' username=user.username %}">
                    <ion-icon name="file-tray-full-outline">Post Draft</ion-icon>
                </a></button>
            </div>
        {% endif %}
        <div class="recent-posts">
            <!-- This section should be populated with actual post data -->
            {% for post in posts %}
                <div class="post">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="" width="120" height="120"/>
                    {% endif %}
                    <div class="post-info">
                        <a href="{% url 'PAGE_postDetail' post_id=post.id %}" id="none"
                        ><h3 class="post-title">{{ post.title }}</h3>
                        </a>
                        <p>{{ post.content |slice:":30" }}</p>

                        <div class="post-actions">
                            <button id="post-share" class="action">
                                <ion-icon class="material-symbols-outlined" name="share-outline"></ion-icon>
                                Share
                            </button>
                            <button id="post-comment" class="action">
                                <ion-icon class="material-symbols-outlined" name="chatbox-ellipses-outline"></ion-icon>
                                Comment
                            </button>
                            <button id="post-like" class="action">
                                <ion-icon class="material-symbols-outlined" name="heart-outline"></ion-icon>
                                {% if post.like_count %}
                                    <span>{{ post.like_count }}</span>
                                {% else %}
                                    Like
                                {% endif %}
                            </button>
                        </div>

                        <!-- <div class="interactions">
                          <button class="top-button interaction-button">Like</button>
                          <button class="top-button interaction-button">Comment</button>
                          <button class="top-button interaction-button">Share</button>
                        </div> -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<script src="../../static/js/index.js"></script>
<script src="../../static/js/posting.js"></script>
<script src="../../static/js/post_detail.js"></script>
<script src="../../static/js/profile.js"></script>

</body>
</html>
